body {
  font-family: 微軟正黑體;
  /* font-size: 1.2rem; */
}

.img-container {
  width: 100%;
  height: 800px;
  background-color: #000;
  background-image: url('../images/pic2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  color: white;
}

nav{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

img.cover{
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #000;
}

footer{
  font-size:0.8rem;
}

.footer{
  margin-top: 100px; 
}